[Unit]
Description=sshuttle service a permanent tunnel
After=network.target

[Service]
ExecStart=/usr/bin/sshuttle --daemon --dns --pidfile=/var/run/sshuttle.pid -e 'ssh -i /root/.ssh/sshuttle.key -o StrictHostKeyChecking=no' -vr mohsen@gw.mohsenkamini.ir:24489 -x gw.mohsenkamini.ir -x 192.168.0.0/16 -x 10.0.0.0/8 -x 172.16.0.0/12  0/0 
Restart=always
Type=forking
PIDFile=/var/run/sshuttle.pid

[Install]
WantedBy=multi-user.target
